body {
    margin: 0;
    font-family: monospace, Arial, Helvetica, sans-serif;
}

.navbar {
    width: 200;
    background-color: #2c3e50;
    color: #ffffff;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
}

.navbar a{
    display: block;
    color: #ffffff;
    text-decoration: none;
    margin: 15px 0;
    padding: 8px;
    border-radius: 5px;
    transition: background 0.3s;
}

.navbar a:hover{
    background-color: #34495e;   
}


.content {
    margin-left: clamp(15px, 150px, 220px);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, fr));
    max-width: 600px;    
} 

.containers {
    
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin-top: 15px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    
}

.containers img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 120px;
    width: 120px;
    padding-bottom: 10px;
}

.containers h3 {
    margin: 10px 0 5px;
    font-size: 20px;
}

.containers p {
    font-size: 14px;
    color: #555;
}

.containers a {
    text-decoration: none;
}

.containers ul{
    margin: 10px 0 5px;
}

.containers li{
    margin: 15px;
    font-size: 14px;
    color: #555; 
}
