<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>For Space Enthusiasts</title>
    {% load static %}
    <link rel="stylesheet" href ={% static 'ForSpaceEnthusiasts/style.css' %}>

  </head>
  <body>
        <div class="navbar">    
            <a  href = "{% url 'Home' %}">Home</a>             
            <a  href = "{% url 'Launches' %}">Launches</a>               
            <a  href = "{% url 'Payloads' %}">Payloads</a>               
            <a  href = "{% url 'Crews' %}">Crews</a>               
        </div>
    
    {% block content %}
    {% endblock content %}
  </body>
</html>




