{% extends "./base.html" %}
{% block content %}

    
    <div class="content">
        <h1 class="title">Crew<h1>
            {%if crew_list%}
                {% for crew in crew_list%}
                    <div class = "containers">
                        {% if crew.name is not None %}
                        <h3>{{crew.name}}</h3>
                        {% endif %}

                        <p>Agency: {{crew.agency}}
                        <p>To learn more view their wikipedia page <a href="{{crew.wikipedia}}">here</a></p>
                    </div>
                {% endfor %}
            {% else %}
                <h3>Unable to load data, please try again later</h3>
            {%endif%}   
    </div>
{% endblock content %}
