{% extends "./base.html" %}
{% block content %}

    
    <div class="content">
        <h1 class="title">SpaceX Crew<h1>
            {%if crew_list%}
                {% for crew in crew_list%}
                    <div class = "containers">
                        <h3>{{crew.name}}</h3>
                        <p>Agency: {{crew.agency}}
                        {%if crew.flights.all%}
                            {%for flight in crew.flights.all%}
                                <p>Crew on: {{flight.name}}<p>
                                <p>launching on {{flight.date_unix}}</p>
                            {%endfor%}
                        {%else %}
                        <p>Hasn't flown</p>
                        {%endif%}
                        <p>To learn more view their wikipedia page <a href="{{crew.wikipedia}}">here</a></p>
                    </div>

                {% endfor %}
            {% else %}
                <h3>Unable to load data, please try again later</h3>
            {%endif%}   
    </div>
{% endblock content %}
