{% extends "./base.html" %}
{% block content %}
    
    <div class="content">
        <h1 class="title">For Space Enthusiasts<h1>
            <div class = "containers">
                <h3>Purpose</h3>
                    <p>
                        The purpose of this project is to give easy access to data from the public spaceX api for space enthusiasts to enjoy. 
                    </p>
                <h3>Features</h3>
                <p>the pages on this is site display the following information from the SpaceX API</p>
                <p>Launches are ordered by launch date:</p>
                <ul>
                    <li>Flight number</li>
                    <li>Flight name</li>
                    <li>Launch date</li>
                    <li>Any payloads the flight carried</li>
                    <li>Details of the flight if provided</li>
                </ul>
                <p>Crew are shown in alphabetical order:</p>
                <ul>
                    <li>Name</li>
                    <li>Flight on which they were a crew member</li>
                    <li>A link to their wikipedia page</li>
                </ul>
                <p>Payloads are shown in alphabetical order:</p>
                <ul>
                    <li>Name</li>
                    <li>Type</li>
                    <li>details of the flight it launched on</li>
                    <li>manufacturers</li>
                </ul>
            </div>
    </div>
{% endblock content %}
