{% extends "./base.html" %}
{% block content %}

     
    <div class="content">
    <h1 class="title">This is the Launches Page<h1>
        {%if launches_list%}
            {% for launch in launches_list%}
                <div class = "containers">
                    {% if launch.links.patch.small is not None %}
                    <img src={{launch.links.patch.small}} alt="Flight icon">
                    {% endif %}
                    <h3>Flight number: {{launch.flight_number}}</h3>
                    <p>Name: {{launch.name}}</p>
                    <p>Launched on: {{launch.date_unix}}</p>
                    {% if launch.payload.all is not None%}
                        {% for payload in launch.payload.all%}
                            <p>Launched with payload: {{payload.name}}<p>
                        {% endfor %}
                    {% else %}
                        <p>Flight launched with no payload</p>
                    {%endif%}
                    {% if launch.details is not None%}
                        <p>{{launch.details}}</p>
                    {% endif %} 
                </div>
            {% endfor %}    
        {% else %}
            <h3>Unable to load data, please try again later</h3>
        {%endif%}
    <div>
{% endblock content %}
